<div class="profile-header-container">
  <div class="profile-container">
    <div class="profile-left">
    <%# <div class="row"> %>
      <div class="profile-avatar-card">
        <% if current_user.avatar.attached?  %>

          <%= image_tag current_user.avatar, class: "profile-rounded-circle" %>

        <% else %>
          <img alt="image" width="200" height="200"class="rounded-circle" src="https://en.gravatar.com/userimage/221761198/0609cffc0486a8272ef5f38096082c5d.png?size=200">
        <% end %>
      </div>
      <div class="profile-button-container">
        <%= link_to "Edit Profile", edit_user_registration_path(current_user), class: "btn btn-profile" %>
       </div>
    </div>

    <div class="profile-right">
      <div class="profile-name-container">
        <%= @user.name %>
      </div>

      <div class="profile-info-container">
        <%# <%= @user.info %>
        <% if current_user.bio == nil %>
        <h3>Bio</h3>
        <p>
        <%= link_to "Add Bio", edit_user_registration_path(current_user), class: "btn btn-ghost" %>
        </p>
        <% else %>
        <p><%=@user.bio%></p>
        <% end %>
      </div>
      <div class="profile-bikes-container">
      <div>
      <h3><%= @user.name %>'s Bikes:</h3>
      <% @user.bikes.each do |bike| %>

        <h2><%= link_to bike.name, bike_path(bike) %></h2>
        <% end %>
      </div>




      </div>
      </div>
      </div>
    <%# </div> %>
  </div>
