<%# <div class="main"> %>
<div class="index-container">
  <div class="all-cards">
  <div class="title-container">
  <%= form_tag bikes_path, method: :get do %>
  <div style="margin: 0 auto;" class="search-form-control form-group">
    <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Type a location" %>
    <%= submit_tag "Search", class: "btn btn-ghost" %>
  </div>
  <% end %>
</div>
  <div class="cards-container">
    <% @bikes.each do |bike| %>
      <div class="bike-card">
        <% if bike.photo.key? %>
          <%= link_to bike_path(bike) do %>
            <%= cl_image_tag(bike.photo.key) %>
          <% end %>
        <% else %>
          <%= link_to bike_path(bike) do %>
            <%= cl_image_tag('28-287336_welcome-road-bike-vector_ywbbgd') %>
          <% end %>
        <% end %>
            <div class="bike-card-infos">
              <div>
                <h2><%= link_to bike.name, bike_path(bike) %> - £<%= bike.daily_rate %>0/day</h2>
                <p><%= bike.address.split(",")[1] %></p>
              </div>
            <%# <h2 class="bike-card-pricing">£<%= bike.daily_rate %>
            </div>
          </div>
    <% end %>
  </div>
  </div>
  <div id="map" class=""
    data-controller="mapbox"
    data-mapbox-markers-value="<%= @markers.to_json %>"
    data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
<%# </div> %>
