<div class="show-container">
  <div class="show-card">
   <div class="show-card-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @bike.photo.key %>')"></div>
    <div class="show-card-infos">
      <div>
        <h2><%= @bike.name %></h2>
        <p><%= @bike.description %></p>
        <p><%= @bike.address %></p>
      </div>
      <h2 class="show-card-pricing"><%= @bike.daily_rate %></h2>
    </div>
  </div>
</div>

<div style="width: 100%; height: 600px;"
  data-controller="mapbox"
  data-mapbox-markers-value="<%= @markers.to_json %>"
  data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
