<div class="bike-show-container">
  <div class="row">

    <div class="col-8">
      <div class="show-card-img" style="background-image: url('<%= cl_image_path @bike.photo.key %>')">
      </div>
      <div class="show-description">
        <h2>About this bike</h2>
        <p><%= @bike.description %></p>
      </div>
      <div class="show-location">
        <h2>Bike Location</h2>
        <p><%= @bike.address %></p>
        <div style="width: auto; height: 500px;"
          data-controller="mapbox"
          data-mapbox-markers-value="<%= @markers.to_json %>"
          data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
      <div class="show-reviews">
        <% if @users_booked.include?(current_user) %>
          <h2>Leave a Review</h2>
          <%= simple_form_for [@bike, @review] do |f| %>
            <%= f.input :content %>
            <%= f.input :rating, collection: 1..5 %>
            <%= f.submit "Submit Review", class:"btn-form-go"%>
          <% end %>
        <% end %>

        <h2>Past Reviews</h2>
        <div class="reviews-container">
          <% @bike.reviews.each do |review| %>
            <div class="review-card">
              <div class="review-content">
                <img src="https://res.cloudinary.com/daunt2sk5/image/upload/v1652816262/avatar_istock_yhmpzg.jpg" class= "avatar">
                <div class="review-card-info">
                  <h3><%= review.user.name %></h3>
                  <p><%= review.content %></p>
                </div>
              </div>
              <p><%= review.created_at %></p>
              <div class="star-div">
                <% review.rating.to_i.times do %>
                  <p>⭐️</p>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-4">
      <h1><%= @bike.name %></h1>
      <div class="show-card-booking">
        <h3>Bike Owner: <%= @bike.user.name %></h3>
        <div class="show-card-pricing">
          <div class="pricing-box">
            <p><strong>Daily</strong></p>
            <p>£<%= @bike.daily_rate %>/day</p>
          </div>
          <div class="pricing-box">
            <p><strong>7+ days</strong></p>
            <p>£<%= @bike.daily_rate * 0.8 %>/day</p>
          </div>
          <div class="pricing-box">
            <p><strong>30+ days</strong></p>
            <p>£<%= @bike.daily_rate * 0.6 %>/day</p>
          </div>
        </div>
        <%= simple_form_for [@bike, @booking] do |f| %>
          <%= f.input :start_date, as: :date, html5: true, class: "simp-form-input" %>
          <%= f.input :end_date, as: :date, html5: true, class: "simp-form-input" %>
          <%= f.submit "Book this Bike", class: "btn btn-form-go"%>
        <% end %>
      </div>
      <div class="btn-container">
        <% if @bike.user == current_user %>
            <%= link_to "Edit this listing", edit_bike_path(@bike), class: "edit-btn" %>
            <%= link_to "Remove this listing",
              bike_path(@bike),
              method: :delete,
              data: {confirm: "Are you sure?"}, style: "red bold", class: "delete-btn" %>
        <% end %>
      </div>
    </div>
    <%= link_to "Back to bikes", bikes_path, class: "btn-back" %>
  </div>
</div>


<%# <div style="url(https://res.cloudinary.com/dx4u8lsnu/image/upload/v1652528893/Screenshot_2022-05-14_at_12.46.37_hrj2tj.png)"></div>
<div style="url(https://res.cloudinary.com/dx4u8lsnu/image/upload/v1652022260/tobias-cornille-ZPpC98Vus3k-unsplash_xpegsv.jpg)"></div> %>
